@import '../../style/variables.scss';

.comicsPage {
  &__grid {
    justify-items: center;
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 2em;
    row-gap: 30px;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
  }
  &__price {
    font-weight: bold;
    font-size: 14px;
    line-height: auto;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  &_selected {
    box-shadow: 0 5px 20px $main-color;
    transform: translateY(-8px);
  }
}
